@import url(https://clearvision.github.io/ClearVision-v6/main.css);

body:before{content: "Your ClearVision is outdated. Change the import link from https://clearvision.gitlab.io/v6/main.css to https://clearvision.github.io/ClearVision-v6/main.css or join the support server.";text-align: center;position: absolute;color: #fff;white-space: pre-wrap;box-sizing: border-box;padding: 10px 0;font-weight:900;background-color: #000;display: block;z-index: 2500;}
