/* USER ROLE */
%role {
  background: transparent;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 3px;
  transition: all 0.1s ease-in-out;
  cursor: default;
  &[style] {
    &:not(:hover) {
      border-color: transparent !important;
    }
  }
  &:not([style]) {
    background: hsla(0, 0%, 100%, 0.1);
    border-color: transparent;
  }
  %roleCircle {
    width: 0;
    height: 0;
    &:not(:empty) {
      margin-left: 6px;
    }
    &:after {
      content: '';
      position: absolute;
      @include pos(-1px, -1px, -1px, -1px);
      border-radius: 3px;
      background: inherit;
      opacity: 0.2;
      transition: all 0.1s ease-in-out;
      pointer-events: none;
    }
    +%roleRemoveIcon {
      position: absolute;
      display: block;
      opacity: 0;
      transition: all 0.1s ease-in-out;
      .fill {
        fill: #fff;
      }
    }
  }
  >%roleName {
    margin-right: 0;
    margin-left: 4px;
    color: hsla(0, 0%, 100%, 0.9);
    transition: all 0.1s ease-in-out;
  }
  &:hover {
    %roleCircle {
      &:after {
        opacity: 0.3;
      }
      +%roleRemoveIcon {
        opacity: 1;
      }
    }
    >%roleName {
      color: #fff;
    }
  }
}
%roleAddButton {
  background: hsla(0, 0%, 100%, 0.1);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  >svg {
    width: 7px;
    height: 7px;
    color: hsla(0, 0%, 100%, 0.5);
    transition: inherit;
  }
  &:hover {
    background: hsla(0, 0%, 100%, 0.2);
    >svg {
      color: #fff;
    }
  }
}

%autocompletePopoutRow {
  &%autocompletePopoutSelected {
    .rowInner-3uonq8 {
      background-color: transparent;
    }
  }
  &:hover {
    .rowInner-3uonq8 {
      background-color: transparent;
    }
  }
}

.container-2O1UgZ {
  background-color: hsla(0, 0%, 0%, 0.8);
}